body {

  background: linear-gradient(30deg, white, green);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
}

#quote-box {
  position: relative;
  margin: 0 auto;
  width: 500px;
  background: linear-gradient(90deg, #111199, #ff8888);
  text-align: center;
}

#buttons {
  display: flex;
  justify-content: space-between;
}
#tweet-quote {
  text-decoration: none;
}
.fa {
  padding: 10px;
  font-size: 20px;
  
  text-align: center;
}
.fa:hover {
  opacity: 0.7;
}
.fa-twitter {
 
  color: skyblue;
}

@media only screen and (max-width: 500px) {
  #quote-box {
    width: 270px;
  }
}